<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Search and add reports</h1>
        <p class="lead">Sing up and see all your interesting geolocated reports</p>
        <div class="text-center">
            <button (click)="registerModeToggle()" class="btn btn-primary btn-lg me-2"> Sign in</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <p>Register for more information</p>
                <app-register [users]="users" (cancelRegistration)="changeRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
<app-layers-tab></app-layers-tab>