<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Reports App</a>

        <!-- bar Menu -->
        <ng-container *ngIf="accountService.currentUser$ | async">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/reports" routerLinkActive="active">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/layers" routerLinkActive="active">Layers</a>
            </li>
          </ul>
        </ng-container>

        <!-- log In  -->
        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="User Name" aria-label="User Name">
          <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password" aria-label="Password">
            <button class="btn btn-success" type="submit">Login</button>
        </form>

         <!-- Menu DropDown  -->  
        <div *ngIf="(accountService.currentUser$ | async) as User" class="btn-group" dropdown>
          <button type="button" class="btn btn-primary">Welcome {{User.userName | titlecase}}</button>
          <button id="button-split" type="button" dropdownToggle class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                  aria-controls="dropdown-split">
            <span class="sr-only visually-hidden">Split button!</span>
          </button>
          <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-split">
            <li role="menuitem"><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Add Report</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem" ><a class="dropdown-item" href="#" (click)="logOut()">Log Out</a></li>
          </ul>
        </div>
    </div>
  </nav>